header
    display: flex
    flex-direction: column
    .headerInfomationContainer
        background: #162A41
        color: white
        display: flex
        justify-content: space-between
        height: 62px
        align-items: center
        font-size: 18px
        div
            display: flex
            width: 100%
            gap: 17px
            align-items: center
            p
                display: flex
                gap: 8px
                font-weight: 400

        a
            display: flex
            color: white
            text-decoration: none
            gap: 8px
            align-items: center
            p
                width: 60px
    .headerNavigationContainer
        background: white
        display: flex
        justify-content: space-between
        align-items: center
        height: 90px
        >div
            display: flex
            justify-content: space-between
            nav
                display: flex
                align-items: center
                gap: 40px
                a
                    text-decoration: none
                    color: black
                    font-size: 18px
.LoginLoginLoginP
    width: 100%
